<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warbugs.gym"
    >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"
        />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fab_Bottom_app_bar"
        >
        <activity android:name=".UI.myStories.myStories"></activity>
        <activity android:name=".UI.forgetPassword.forgetPassword" />
        <activity android:name=".UI.addStory.addStory" />
        <activity android:name=".UI.signIn.signinScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.signup.signupScreen"></activity>
        <activity android:name=".UI.splash.splashScreen" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>